@{
    ViewData["Title"] = "Alterar Palavra-passe";
}

<h2>Alterar Palavra-passe</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger mt-3">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
