@model esii.Models.TaxaJuroMensalViewModel
<div class="form-container">
    <div class="form-group">
        <label asp-for="Mes"></label>
        <input asp-for="Mes" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Ano"></label>
        <input asp-for="Ano" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Taxa"></label>
        <input asp-for="Taxa" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Descricao"></label>
        <input asp-for="Descricao" class="form-control" />
    </div>
</div>