@model esii.Models.ImovelArrendadoCreateViewModel

<div class="form-group">
    <label asp-for="DataIni"></label>
    <input asp-for="DataIni" class="form-control" type="date" />
</div>
<div class="form-group">
    <label asp-for="Duracao"></label>
    <input asp-for="Duracao" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Imposto"></label>
    <input asp-for="Imposto" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Designacao"></label>
    <input asp-for="Designacao" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Localizacao"></label>
    <input asp-for="Localizacao" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="ValorImovel"></label>
    <input asp-for="ValorImovel" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="ValorRenda"></label>
    <input asp-for="ValorRenda" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="ValorMensalCondominio"></label>
    <input asp-for="ValorMensalCondominio" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="ValorAnualDespesas"></label>
    <input asp-for="ValorAnualDespesas" class="form-control" />
</div>
